.card {
    box-shadow: none !important;
}

.card-1 {
    border: solid 1px #dee2e6;
    background-color: transparent;
}

.card-2 {
    border: none;
    border-bottom: solid 1px #dee2e6;
    background-color: transparent;
}

.fa-circle.active {
    font-size: 8px;
    color: var(--light-pink);
}

.fa-circle {
    font-size: 8px;
    color: #aaa;
}

.rounded {
    border-radius: 2.25rem !important;
}


.progress-bar {
    background-color: var(--light-pink) !important;
}


.progress {
    height: 5px !important;
    margin-bottom: 0;
}

.invoice {
    position: relative;
    top: -70px;
}

.rounded {
    border-radius: 2.25rem !important;
}

.display-3 {
    font-weight: 500 !important;
}

@media (max-width: 700px) {

    h2 {
        color: rgb(78, 0, 92);
        font-size: 17px;
    }

    .display-3 {
        font-size: 28px;
        font-weight: 500 !important;
    }
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

.img-fluid {
    max-width: 115px !important;
}